# Twitch
TWITCH_OAUTH=oauth:xxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWITCH_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
TWITCH_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxx

# LLM
GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
# CLAUDE_API_KEY=
# OPENAI_API_KEY=
# DASHSCOPE_API_KEY=
